{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}!</h1>
        <h2><a href="account/logout">Log out</a></h2>
    {% else %}

        <h2><a href="account/log_in">Log in</a></h2>
        <h2><a href="account/register">Register</a></h2>
    {% endif %}
{% endblock %}