{% extends 'base.html' %}

{% block content %}
<form action="log_in" method="post">
    {% csrf_token %}
    <label>
        <input type="text" name="username" placeholder="User name">
    </label><br>
    <label>
        <input type="text" name="password" placeholder="Password">
    </label><br>
    <input type="Submit">
</form>
    <div>
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
    </div>
{% endblock %}