{% extends 'base.html' %}

{% block content %}
<form action="register" method="post">
    {% csrf_token %}
    <label>
        <input type="text" name="first_name" placeholder="First name">
    </label><br>
    <label>
        <input type="text" name="username" placeholder="User name">
    </label><br>
    <label>
        <input type="text" name="password1" placeholder="Password">
    </label><br>
    <label>
        <input type="text" name="password2" placeholder="Confirm password">
    </label><br>
    <input type="Submit">
</form>
    <div>
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
    </div>
{% endblock %}